export KOPS_CLUSTER_NAME=dicty-playground.k8s.local
export KOPS_STATE_STORE=gs://kops-kubernetes-state-playground
export KUBECONFIG="${PWD}/.kube/config"
export GOOGLE_APPLICATION_CREDENTIALS=${PWD}/credentials/dcr-kube-admin-key.json
